<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <title>Visualizador</title>
</head>
<script src="https://aframe.io/releases/1.0.0/aframe.min.js"></script>
<!-- we import arjs version without NFT but with marker + location based support -->
<script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar.js"></script>
<script src="https://raw.githack.com/cozmo/jsQR/master/dist/jsQR.js"></script>

<body style="margin : 0px; overflow: hidden;" onload="iniciar()">
    <a-scene embedded arjs vr-mode-ui="enabled: false">
        <a-marker type="pattern" url="MARCADOR.patt" preset="custom">
            <a-gltf-model src="../models/Casinha.glb"></a-gltf-model>
        </a-marker>
        <a-entity camera></a-entity>
        <!-- Essa é a câmera virtual da cena 3D, e não a câmera do celular -->
    </a-scene>
</body>
<script>
        var contexto;

        function iniciar()
        {
            contexto = document.createElement("canvas").getContext("2d");
            setInterval(ler_codigo, 250);
        }

        function ler_codigo()
        {
            const video = document.querySelector("video");
            if (video)
            {
                contexto.canvas.width = video.videoWidth;
                contexto.canvas.height = video.videoHeight;
                contexto.drawImage(video, 0, 0, contexto.canvas.width, contexto.canvas.height);

                const imagem = contexto.getImageData(0, 0, contexto.canvas.width, contexto.canvas.height);
                const codigo = jsQR(imagem.data, imagem.width, imagem.height);

                if (codigo)
                {
                    if (codigo.data != "")
                    {
                        trocar_modelo(codigo.data.replace("?", "/../models/"));
                    }
                }
            }

        }

        function trocar_modelo(nome_do_modelo)
        {
            const marcador = document.querySelector("a-marker");
            while (marcador.lastChild)
            {
                marcador.removeChild(marcador.lastChild);
            }

            const modelo = document.createElement("a-gltf-model");
            modelo.setAttribute("src", nome_do_modelo);
            marcador.appendChild(modelo);
        }
</script>

</html>